doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/bird_style.css')
  body
    header
        img(src="/images/kiwi-logo.svg")
        h1= title

    main 

        block sidebar
          ul(class='sidebar-nav')
            li 
              a(href='#') Home
            li 
              a(href='#') Delete this bird
            li 
              a(href='#') Update this bird
            li 
              a(href='#') Create a new bird
        div
          img(src=bird_img)

        

        //- form(method='POST' action='')
        //-   div.form-group
        //-     label(for='title') Title:
        //-     input#title.form-control(type='text', placeholder='Name of book' name='title' required='true'  )
        //-   div.form-group
        //-     label(for='author') Author:

        //-   div.form-group
        //-     label(for='summary') Summary:
        //-     input#summary.form-control(type='textarea', placeholder='Summary' name='summary' required='true')
        //-   div.form-group
        //-     label(for='isbn') ISBN:
        //-     input#isbn.form-control(type='text', placeholder='ISBN13' name='isbn' ) 

        //-   button.btn.btn-primary(type='submit') Submit


    footer 
        p Data licensed from